body {
    margin: 0;
    font-family: "Bebas Neue", serif;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
}

canvas {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#particles-js {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -1000;
    width: 100%;
    height: 100%;
    background-color: #12142d;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}


#landing {
    background-image: url("../images/Space.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#header {
    color: #f7f7f7;
    margin: 0;
    top: 0;
    z-index: 1000;
    width: auto;
    height: auto;
    overflow: auto;
}

#headerName {
    font-family: "Bebas Neue", serif;
    top: 3vh;
    left: 5vw;
    position: absolute;
    font-size: 2vw;
    z-index: 10000;
}


nav {

    z-index: 1000;
    font-family: "Space Mono", serif;
    position: absolute;

    top: 5vh;
    right: 7vw;
    list-style-type: none;

}


nav ul {
    margin-top: 0;

}

nav ul li {
    display: inline;
    margin-left: 3vw;
}

nav ul li a {
    color: #f7f7f7;
}

.nav-link {
    font-size: 1vw;
    text-decoration: none;
    padding: 1vw 0;
    margin: 0;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}


nav li {
    display: inline;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 500ms;
    height: 0.25vh;
    content: "";
    position: absolute;
    background-color: #f7f7f7;
}

.nav-link-ltr::before {
    width: 0;
    bottom: 15px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}


#lowerMenu {
    position: fixed;
    z-index: 1000;
    list-style-type: none;
    bottom: 7vh;
    right: 7vw;
}

#lowerMenu ul {
    margin: 0;
}

#lowerMenu a {
    font-size: 2vw;
    color: #838383;

    text-decoration: none;
}

#lowerMenu a:hover {
    color: #9d9d9d;
}

#lowerMenu li {
    display: inline;
    margin-left: 3vw;
}

#centralText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#downArrow{
    top: 80%;
    position: absolute;
    color: #f7f7f7;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

#downArrow a {
    color: #9d9d9d;
    text-decoration: none;
}

#downArrow a:hover {
    color: #f7f7f7;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

#iAm {
    color: #f7f7f7;
    width: max-content;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#restText {
    font-family: "Space Mono", serif;
    transition: all 0.5s;
    width: max-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20vh;
    height: auto;
    font-size: 1vw;
}


.rotating-thing {
    color: #f7f7f7;
    width: 100%;
    opacity: 0;
    transform: translateY(-4vh);
    transition: all 0.5s;
    perspective: 500px;
    margin-top: -2vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}


.rotating-thing.show {
    opacity: 1;
    transform: translateY(0);
}

.rotating-thing.hide {
    opacity: 0;
    transform: translateY(4vh);
}

#subText {
    font-family: "Space Mono", serif;
    margin-top: 15vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#contact {
    padding: 0.445vh 0.737vw 0.445vh 0.737vw;
    font-family: "Space Mono", serif;
    text-decoration: none;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    border-radius: 5vh;
    color: #f7f7f7;
    border-style: solid;
    border-width: 0.14vh;
    width: 10vw;
    height: 5vh;
    font-size: 1vw;

}

#contact:hover {
    font-family: "Space Mono", serif;
    background-color: #f7f7f7;
    color: #12142d;
}


#aboutMe {

    position: relative;
    height: 100vh;
    font-size: 0;
}



#whiteTriangle1 {
    position: absolute;
    z-index: -1;
    top: 30vh;
    width: 0;
    height: 0;
    border-top: 70vh solid transparent;
    border-right: 70vw solid #ffffff;
    right: 0;

}


#whiteTriangle2 {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;

    border-bottom: 70vh solid transparent;
    border-left: 70vw solid #ffffff;
}


#helloHeader {
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    color: #12142d;
    font-size: 3.5vw;
    top: 3vh;
    left: 12vw;
}

#helloWords {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: #12142d;
    font-size: 1.25vw;
    top: 17vh;
    left: 12vw;
    width: 37vw;


}

#picture {
    position: absolute;
    height: 35vw;
    width: auto;
    top: 15vh;
    right: 15vw;
    border-radius: 2vw;
    box-shadow: 1vh .5vw #9d9d9d;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

#aboutMeWords{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1.5s all ease;
}

#aboutMeWords.active{
    transform: translateY(0);
    opacity: 1;
}

#picture{
    transform: translateX(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

#picture.active{
    transform: translateY(0);
    opacity: 1;
}

.greyTriangles{
    position: absolute;
    z-index: -2;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, rgba(196,196,196,0.6) 10%, transparent 11%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}



#featuredProject {
    position: relative;
    height: 100vh;
    font-size: 0;
}

#featuredContent{

}
#featuredHeader {
    color: black;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -80%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    width: max-content;
    opacity: 0;

}


#featuredHeader.active{
    transform: translate(-50%, -40%);
    transition: 1.5s all ease;
    opacity: 1;
}


#whiteSquare1 {
    position: absolute;
    z-index: -1;
    top: 0;

    height: 1vh;
    width: 100%;
    background-color:#ffffff;
}

#whiteSquare2 {
    position: absolute;
    z-index: -1;
    top: 0;

    height: 100%;
    width: 6vw;
    background-color: #ffffff;
}

#whiteSquare3 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 30vw;

    height: 100%;
    width: 70vw;
    background-color: #ffffff;
}

hr{
    clear: both;
    visibility: hidden;

}

#featuredDescription{
    position: absolute;
    left: 10vw;
    top: 14vh;
    width: 30vw;
    font-size: 1.4vw;
    text-decoration: none;

    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #12142d;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

#exampleimage{
    top: 16vh;
    right: 11vw;
    position: absolute;
    height: 70vh;
    width: auto;
}

#footer{
    height: 100vh;
    background-color: #f7f7f7;
}
div.elem-group {
    margin: 40px 0;
}

label {
    display: block;
    font-family: 'Aleo';
    padding-bottom: 4px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Aleo';
    width: 500px;
    padding: 8px;
}

textarea {
    height: 250px;
}

button {
    height: 50px;
    background: green;
    color: white;
    border: 2px solid darkgreen;
    font-size: 1.25em;
    font-family: 'Aleo';
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}


