body {
    margin: 0;

    font-family: "Bebas Neue", serif;
    color: #f7f7f7;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background-image: url('../Space.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    margin: 0;
}

canvas {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10000;
}

#particles-js {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -1000;
    width: 100%;
    height: 100%;
    background-color: #12142d;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}


#header {
    top: 5vh;
    left: 5vw;
    position: absolute;
    margin-top: 0;
    //text-shadow: 3px 3px 0 rgba(59, 186, 156, 0.4);
    font-size: 4vh;
    z-index: 10000;
    background-color: transparent;
}

.menu {

}

nav {
    font-family: "Space Mono", serif;
    position: fixed;
    padding-top: 5vh;
    right: 3vw;
    list-style-type: none;
}


nav ul {
    margin-top: 0;

}

nav li {
    display: inline;
    margin-left: 3vw;
}

.nav-link {
    font-size: 2.5vh;
    text-decoration: none;
    color: #f7f7f7;
    padding: 1vw 0;
    margin: 0;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

nav li {
    display: inline;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 500ms;
    height: 0.25vh;
    content: "";
    position: absolute;
    background-color: #f7f7f7;
}

.nav-link-ltr::before {
    width: 0;
    bottom: 15px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}



#lowerMenu {
    position: fixed;
    list-style-type: none;
    bottom: 7vh;
    right: 10vw;
}

#lowerMenu ul{
    margin: 0;
}
#lowerMenu a {
    font-size: 4vh;
    color: #9d9d9d;
    text-decoration: none;
}

#lowerMenu a:hover {
    color: #f7f7f7;
}

#lowerMenu li {
    display: inline;
    margin-left: 3vw;
}

.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #a8eb12 0%,
            #00bf72 30%,
            #008793 60%,
            #004d7a 90%,
            #051937 100%
    );
    animation: textclip 2s linear infinite;



    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}



#iAm{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 5vh;
    height: 20px;

    position: absolute;
}


#restText{
    width: 4vw;
    position: absolute;
    top: 0;
    left: 0;
}


.rotating-thing{
    width: 20vw;
    position: absolute;
    top: 0;
    /*left: 3.5vw;*/
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s;
    color: gold;
    perspective: 500px;
    padding-left: 4px;

}


.rotating-thing.show{

    opacity: 1;
    transform: translateY(0px);
}

.rotating-thing.hide{
    opacity: 0;
    transform: translateY(50px);
}
